.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background);
  padding-inline: 1rem;
  padding: 0; 
  margin: 0;
}

.mainContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  padding-top: 1rem;
}

.portfolioArea {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
